/* ============================= */
/* RESPONSIVE HP */
/* ============================= */

@media (max-width: 768px){

.quiz-page{
    padding:20px 12px;
}

.quiz-box{
    padding:20px;
    border-radius:18px;
}

.quiz-box h1{
    font-size:28px;
}

.progress{
    font-size:15px;
}

.category{
    font-size:14px;
    padding:6px 14px;
}

.gambar-soal{
    width:160px;
    max-width:100%;
}

.question{
    font-size:22px;
    line-height:1.5;
}

.option{
    font-size:17px;
    padding:15px;
}

.btn-next,
.btn-main,
.btn-home{
    font-size:17px;
    padding:15px;
}

.nilai{
    font-size:60px;
}

.quiz-result{
    width:100%;
    padding:25px;
}

}

/* ============================= */
/* HP KECIL */
/* ============================= */

@media (max-width:480px){

.quiz-page{
    padding:15px 10px;
    display:flex;
justify-content:center;
}

.quiz-box{
    padding:16px;
    width:100%;
max-width:430px;
}

.quiz-box h1{
    font-size:24px;
}

.question{
    font-size:20px;
}

.option{
    font-size:16px;
    padding:14px;
}

.gambar-soal{
    width:130px;
}

.progress{
    font-size:14px;
}

.category{
    font-size:13px;
}

.nilai{
    font-size:52px;
}

}